<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" href="../static/css/client_list.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="{{ url_for('login.dashboard') }}">Início</a></li>
                    <li><a href="#">Produtos</a></li>
                    <li><a href="{{ url_for('system_index.clients') }}">Clientes</a></li>
                    <li><a href="#">Relatórios</a></li>
                    <li><a href="{{ url_for('login.logout') }}">Sair</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="content">
        <div class="container">
            <h2>Lista de Clientes</h2>
            {% if message %}
            <p>{{ message }}</p>
            {% else %}
            <table>
                <thead>
                    <tr>
                        {% for column_name in column_names %}
                        <th>{{ column_name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                    <tr>
                        {% for data in client %}
                        <td>{{ data }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </section>
</body>

</html>
