<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Clientes</title>
    <link rel="stylesheet" href="../static/css/clients_homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="{{ url_for('login.dashboard') }}">Início</a></li>
                    <li><a href="{{ url_for('system_index.products') }}">Produtos</a></li>
                    <li><a href="{{ url_for('system_index.clients') }}">Clientes</a></li>
                    <li><a href="#">Relatórios</a></li>
                    <li><a href="{{ url_for('login.logout') }}">Sair</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <h2>Menu Clientes</h2>
            <a href="{{ url_for('client.signup_clients') }}" class="btn">Cadastrar Clientes</a>
            <a href="{{ url_for('client.client_list') }}" class="btn">Visualizar Clientes</a>
        </div>
    </section>
</body>

</html>
