<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="../static/css/reset_password.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background-image"></div>
    <div class="container">
        <form class="reset-password-form" action="{{ url_for('forgot_password.reset_password', token=token) }}" method="post">
            <h1>Redefinir Senha</h1>
            <div class="input-group">
                <input type="password" id="reset-new-password" name="reset-new-password" pattern="(?=.*[A-Z])(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{6,}" title="A senha deve ter no mínimo 6 caracteres, pelo menos uma letra maiúscula e um caractere especial." placeholder="Nova senha" required>
            </div>
            <div class="input-group">
                <input type="password" id="reset-confirm-password" name="reset-confirm-password" placeholder="Confirmar nova senha" required>
            </div>
            <button type="submit">Redefinir Senha</button>
            <p class="back-to-login">Lembrou sua senha? <a href="{{ url_for('login.index_login') }}">Faça login</a></p>
        </form>
    </div>
    <script>
        window.addEventListener('load', function() {
            document.body.classList.add('loaded');
        });
    </script>
</body>
</html>
